{{define "modalConfirmDelete"}}
<div class="modal modal-alert py-5 fade" tabindex="-1" role="dialog" id="modalChoice">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4 text-center">
                <h5 class="mb-0" id="modalConfirmName">Delete container ?</h5>
                <p class="mb-0">Are you sure you want to delete <strong id="modalConfirmContainerName">name</strong> ?
                </p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button"
                        class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"
                        data-bs-dismiss="modal"><strong>No, Cancel</strong>
                </button>
                <button type="button"
                        class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 text-danger"
                        id="modalConfirmDeleteYes" data-bs-action="delete"
                        data-bs-method="PUT" onclick="process(this)">Yes, Delete
                </button>
            </div>
        </div>
    </div>
</div>
{{end}}